<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>更新配置</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <script src="/jquery/jquery-3.4.1.min.js"></script>

    <script type="text/javascript">
        function refreshConfig() {
            $.ajax({
                url: "/config/refresh",
                data: {code: $("#code").val()}
            }).done(function (success) {
                alert(success ? "更新成功" : "code error");
            }).fail(function () {
                alert("系统错误")
            });
        }
    </script>
</head>
<body>
    <input type="text" id="code">
    <button onclick="refreshConfig();">更新配置</button>
</body>
</html>